<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Code test</title>
</head>
<body>
    <h1>Welcome to my Code Test</h1>
    <hr>
    <h2>Add Member & Reward</h2>
    <!-- <form action="http://localhost:8000/addmember" method="POST">
        <input type="text" name="memberName" placeholder="Input the Member">
        <input type="submit" value="Add Member"/>
    </form>
    <br>
    <form action="http://localhost:8000/addreward" method="POST">
        <input type="text" name="rewardName" placeholder="Input the Reward">
        <input type="submit" value="Add Reward"/>
    </form> -->
    <form action="http://localhost:8000/add" method="POST">
        Select What you want to add: <select name="addType" id="">
            <option value="member">Member</option>
            <option value="reward">Reward</option>
        </select><br><br>
        <input type="text" name="addName" placeholder="Input the Name">
        <input type="submit" value="Add"/>
    </form>
    <hr>
    <h2>Assign Reward</h2>
    <form action="http://localhost:8000/assignreward" method="POST">
        Select member: <select name="selectMem" id="">
            <% for (let i=0; i<memberList.length; i++){ %>
                <option value="<%=memberList[i].memberName%>"><%=memberList[i].memberName%></option>
            <% } %>
        </select>&nbsp;&nbsp;&nbsp;
        Select reward: <select name="selectRew" id="">
            <% for (let i=0; i<rewardList.length; i++){ %>
                <option value="<%=rewardList[i].rewardName%>"><%=rewardList[i].rewardName%></option>
            <% } %>
        </select>
        <input type="submit" value="Assign Reward">
    </form>
    
    <hr>
    <h2>Search Member</h2>
    <form action="http://localhost:8000/searchmember" method="POST">
        <input type="text" name="searchMem" placeholder="Input the Member">
        <input type="submit" value="Search">
    </form>
    <hr>
    <h2>Delete Member & Reward</h2>
    <form action="http://localhost:8000/delete" method="POST">
        Select What you want to delete: <select name="delType" id="">
            <option value="member">Member</option>
            <option value="reward">Reward</option>
        </select><br><br>
        <input type="text" name="delName" placeholder="Input the Name">
        <input type="submit" value="Delete"/>
    </form>
    
</body>
</html>